body {
	background-color: black;
	color: yellow;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

header {
	text-align: center;
	overflow: auto;
}

.header {
	width: 100%;
	height: auto;
}

.text {
	font-size: 200px;
	position: absolute;
}

.image {
	width: 100%;
	height: auto;
	z-index: -1;
}

section {
	overflow: auto;
}

.section1.columns1 {
	width: 50%;
	height: auto;
	float: right;
}

.section1.columns2 {
	width: 50%;
	height: auto;
	float: left;
}

.section2.columns1 {
	width: 25%;
	height: auto;
	float: left;
}

.section2.columns2 {
	width: 20%;
	height: auto;
	float: left;
}