body {
	background-color: black;
	color: yellow;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

a:link {
	color: yellow;
}

header {
	text-align: center;
	overflow: auto;
}

.header {
	width: 100%;
	height: auto;
}

.text {
	font-size: 200px;
	position: absolute;
}

.header.image {
	width: 100%;
	height: auto;
	z-index: -1;
}

nav {
	width: 100%;
	margin: 0px auto;
	overflow: auto;
}

.nav.image {
	width: 5%;
	height: auto;
}

ul.nav {
	list-style-type: none;
	padding: 0px;
	float: right;
}

li.nav {
	display: inline;
}

li.nav a {
	text-decoration: none;
	text-align: center;
	padding: 10px;
}

section {
	margin: 10px;
	overflow: auto;
}

.section1.columns1 {
	width: 50%;
	height: auto;
	float: right;
}

.section1.columns2 {
	width: 50%;
	height: auto;
	float: left;
}

.section2 {
	display: table;
	overflow: auto;
}

div.table {
	text-align: center;
	display: table-cell;
	width: 25%;
	padding: 0px 60px;
}

ol.table {
	display: table-cell;
	width: 25%;
}

.heading {
	text-align: center;
}

.paragraph {
	padding: 10px;
}

.video {
	display: block;
	margin: auto;
}

footer {
	text-align: center;
}